{% extends "base.html" %}


{% block body %}
<div class="span12" id="homes">
    <div class = "span6 offset3"><h2>Welcome to the Space Database!</h2> </div>
    <br />
    <div class = "span10 offset3"><h3> What perspective do you wish to view from? </h3></div>
    <div class = "span12">
        <a href="/astronomer" class="btn btn-primary btn-large offset2 span2">Astronomer&raquo;</a>
        <a href="/astronaut" class="btn btn-primary btn-large span2">Astronaut&raquo;</a>
        <a href="/planet" class="btn btn-primary btn-large span2">Planet&raquo;</a>
    </div>
</div>

{% endblock %}
